/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-padding-top: 70px; /* Adjust this value based on your navbar height */
}

body {
  font-family: Arial, sans-serif;
}

header {
  position: sticky; /* Or use 'fixed' for a constant navbar */
  top: 0;
  z-index: 1000; /* Ensure it stays above other elements */
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 64px;
  padding: 0 40px 0 40px;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 64px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  font-size: 14px;
  text-decoration: none;
  padding: 0 25px 0 25px;
}

.line {
  background-color: #ccc;
  opacity: 1;
  flex: 1 0 0px;
  height: 1px;
  overflow: hidden;
  position: relative;
  width: 1px;
}

.try-button {
  font-size: small;
  border: none;
  background-color: #c9c1c1;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
}


@media (max-width: 768px) {
  header {
    padding: 0 10px 0 10px;
  }
  .navbar {
    gap: 32px;
  }
  .nav-links a {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 434px) {
  .line {
    display: none;
  }
  .nav-links a {
    padding: 0 10px 0 10px;
  }
  
}

@media (max-width: 350px) {
  header {
    padding: 0 2px 0 2px;
  }
  .navbar {
    gap: 5px;
  }
  .nav-links a {
    padding: 0 5px 0 5px;
  }
  
}